#game-board .cell {
    width: 20px;
    height: 20px;
    background-color: #666;
    border: 1px solid #333;
}
#game-board .cell-mine {
    background-color: red !important;
}
#game-board .cell-number {
    text-align: center;
    line-height: 20px;
    background-color: #fff !important;
}
#game-board .cell-empty {
    background-color: white !important;
}

#game-board .mine-flagged {
    background-color: #ff0;
}
#game-board .mine-suspected {
    background-color: #0ff;
}
#game-board .header {
    height: 100px;
}
#game-board .header .smiley-face {
    background-image: url('sprite.gif');
    background-position: 0px -55px;
    width: 26px;
    height: 26px;
    left: 0;
}
#game-board .header .smiley-face:active {
    background-position: -27px -55px;
}
#game-board .header .smiley-face.uh-oh {
    background-position: -52px -55px;
}
#game-board .header .smiley-face.dead {
    background-position: -78px -55px;
}
#game-board .header .smiley-face.cool {
    background-position: -104px -55px;
}
